<% include ../partials/header %>

<form action="/login" method="post" class="form">
    <input type="text" name="username" placeholder="Username" autofocus></input>
    <input type="password" name="password" placeholder="Password"></input>
    <button class="btn btn-md">Submit</button>
</form>

<% include ../partials/footer %>