.campgrounds{
    display: flex;
    flex-wrap: wrap;
}

form{
    width: 100%;
    margin: 20px auto;
}

.showButtons{
    display: inline;
}

.tab-content{
    width: 100%;
}

.userButtons{
    height: 32px;
    margin-bottom: 5px;
}

.description{
    height: 150px;
    resize: both;
}

.form{
    width: 320px;
    margin: 25px auto;
}

.tab{
    width: 49%;
    text-align: center;
}

.thumbnail{
    padding: 0;
    width: 100%;
}

.allImages{
    max-height: 250px; 
    overflow: hidden;
}

.show-content{
    margin: auto 0;
}

.searchInput{
    height: 46px;
    width: 70%;
    padding: 12px 12px;
    box-sizing: border-box;
    border-radius: 15px;
    display: inline-block;
    margin: 0;
    border: white;
}

.btn-login{
    width: 174px;
}

.filter{
    width: 14%;
    display: inline-block;
    border: white;
}

.seeAll{
    height: 46px;
    width: 15%;
    margin: 0;
    border: white;
}

.searchBar{
    margin: 0;    
    height: 46px;
    border: white;
    background: white;
}

.searchForm{
    margin: auto;
    width: 70%;
    margin-bottom: 50vh;
    margin-top: 50vh;
    background: white;
}

.landing-jumbotron{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.landing-container{
    display: flex;
}

body{
    margin: 0;
}

.navbar{
    margin-bottom: 0;
}

input[type=radio],
input[type=text],
input[type=file]{
    display: inline-block;
    vertical-align: middle;
}