<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="form">
            <h1>Add new picture</h1>
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#link">Link</a></li>
                <li><a data-toggle="tab" href="#upload">Upload</a></li>
            </ul>
            <div class="tab-content">
                <div id="upload" class="tab-pane fade">
                    <form action="/pictures" method="post">
                        <div class="form-group">
                            <label for="name">Give a name to your picture</label>
                            <input class="form-control" id="name" type="text" name="campground[name]" maxlength="25" autofocus required>
                        </div>
                        <div class="form-group">
                            <label for="upload">Upload the picture</label>
                            <input class="form-control" id="fileUpload" type="file" name="image" value="Upload file" accept="image/*" required></input>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="fileLink" type="hidden" name="campground[image]" required></input>
                        </div>
                        <div class="form-group">
                            <label for="description">Add a description to your picture</label>
                            <textarea class="form-control description" id="description" name="campground[description]"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                        </div>
                    </form>
                </div>
                <div id="link" class="tab-pane fade in active">
                    <form action="/pictures" method="post">
                        <div class="form-group">
                            <label for="name">Give a name to your picture</label>
                            <input class="form-control" id="name" type="text" name="campground[name]" maxlenght="25" autofocus required>
                        </div>
                        <div class="form-group">
                            <label for="link">Paste a direct link to your image</label>
                            <input class="form-control" id="fileLink" type="text" name="campground[image]" required></input>
                        </div>
                        <div class="form-group">
                            <label for="description">Add a description to your picture</label>
                            <textarea class="form-control description" id="description" name="campground[description]" ></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/scripts/upload.js"></script>
<% include ../partials/footer %>